{% extends 'base.html' %}
{% block title %}project | contact-us{% endblock title %}

{% block body %}


    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-7 pt-5">
                    <img class="w-100" src="/media/images/contact-us-banner.jpg" alt="">
                </div>
                <div class="col-12 col-lg-5">
                    <div class="contact-us-page-heading">
                        <h1 class="text-center my-5 fs-1">Contact Us</h1>
                    </div>

                    <div class="container my-5 fs-5">
                        <div class="row">
                            <div class="col-9 col-sm-7 col-md-5 col-lg-8 border mx-auto my-4 p-3">
                                <center>
                                    <div class="fw-bold">Internships & Jobs</div>
                                    <div class="my-3">For internships related queries, visit student help center</div>
                                    <a class="btn bg-dark theme-text-color col-12 my-3">Visit help center <i
                                            class="fa fa-long-arrow-right"></i>
                                    </a>
                                </center>
                            </div>
                            <div class="col-9 col-sm-7 col-md-5 col-lg-8 border mx-auto my-4 p-3">
                                <center>
                                    <div class="fw-bold">Employers</div>
                                    <div class="my-3">For employer related queries, visit employer help center</div>
                                    <a class="btn bg-dark theme-text-color col-12 my-3">Visit help center <i
                                            class="fa fa-long-arrow-right"></i>
                                    </a>
                                </center>
                            </div>
                            <div class="col-9 col-sm-7 col-lg-8 border mx-auto my-4 p-3">
                                <center>
                                    <div class="fw-bold">Trainings</div>
                                    <div class="my-3">For student trainings related queries, visit trainings help center
                                    </div>
                                    <a class="btn bg-dark theme-text-color col-12 my-3">Visit help center <i
                                            class="fa fa-long-arrow-right"></i>
                                    </a>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5 fs-5">
            <div class="row">
                <div class="my-5 col-12 col-lg-5 order-2 order-lg-1">
                    <div class="fw-bold my-3">For others</div>
                    <div class="">
                        <div class="my-3">University <br>
                            Email Us: <a href="#">abc@xyz.com</a>
                        </div>
                        <div class="my-3">Media Queries<br>
                            Email Us: <a href="#">abc@xyz.com</a>
                        </div>
                        <div class="my-3">Fest sponsorship<br>
                            Email Us: <a href="#">abc@xyz.com</a>
                        </div>
                        <div class="my-3">For everything else<br>
                            Email Us: <a href="#">abc@xyz.com</a>
                        </div>
                    </div>
                </div>
                <div class="my-1 col-12 col-lg-6 order-1 order-lg-2">
                    <div class="fw-bold">Address</div>
                    <div class="px-5 my-3">Address, address, address, address, address, address, address, city (pin
                        code), state,
                        country</div>
                    <div class="my-2"><iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448183.7390591984!2d76.81307423177846!3d28.646677262463943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1622300379875!5m2!1sen!2sin"
                            style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                </div>
            </div>
        </div>

        <div class="fs-4 m-auto my-5" style="text-align:center;">
            Working hours: 9 am to 5 pm, Monday to Friday
        </div>

    </main>


    {% endblock body %}