{% extends 'base.html' %}
{% block title %}project| thankyou{% endblock title %}
{% block content%} <link rel="stylesheet" href="/static/css/thanks.css">{% endblock content %}

{% block body %}
<div class="container text-center">
	<header class="site-header" id="header">
        <img class="project1" src="/media/images/thanks.gif" alt="" width="400px" height="400px">
	</header>
	<br>
	<br>
	<div class="main-content">
		<p class="thanks3" class="main-content__body" data-lead-id="main-content-body">Thanks your Payment of Rs 1400 is successful</p>
        <p class="thanks3" class="main-content__body" data-lead-id="main-content-body">We will mail to you your course details very soon</p>
	</div>
	</div>
{% endblock body%}